# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Logs
logs
*.log

# wxt
.output
stats.html
stats-*.json
.wxt
web-ext.config.ts

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*
lerna-debug.log*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
archive
*.archive
*.archive.*
